body {
    margin-left: 52px ;
    padding: 35px 10px;
    background: #1F2937;
    text-align: left;
}

h1 {
    font-family: Karla;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: -1px;
}

#heading1 {
    margin-top:  115px;
    color: white;
    margin: 0;
    margin-bottom: -30px;
}

#heading2 {
    color: #4ADF86;
}

h4 {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: #D5D4D8;
}

button {
        color: var(--white, #FFF);
    /* text-base/leading-6/font-medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    text-align: center;
    padding: 9px 17px 9px 15px;
    margin-top: 60px;
    margin-bottom: 15px; 
    border-radius: 4px;
    border: 0;
    background: #10B981;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

hr {
    border: 1px solid #2F3E53;
    width: 446px;
    margin: 0;
}
.rectangle-container {
  display: flex;
}

.rectangle{
    width: 200px;
    height: 29px;
    margin: 35px 15px 0 0;
    padding: 10px;
    background: #273549;
    color: #55F991;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    border-radius: 7px;
}